* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f3f4f6
}


.open-btn {
    border: none;
    background: green;
    font-size: 18px;
    color: white;
    width: 200px;
    height: 80px;
    text-align:center;
    text-justify:center;
}

.open-btn:hover {
    background: red;
}

.open-btn:success {
    background: green;
}

.modal {
    position: fixed;
    background: gray;
    display:none;
    justify-content:center;
    align-items: center;
    z-index:1000;
}

.modal.show {
    display:flex;
}


.login-box {
    width: 400px;
    height: 300px;
    background: white;
    position:relative;
    h2 {
        text-align:center;
    }
    border: 0.5pt solid gray;
    border-radius: 8px;
}

.input {
    width: 100%;
    height: 50px;
    border-radius:6px;
    border: 1px solid gray;
    text-align: left;
    text-justify: center;
}

.input::placeholder {
    color: #9aa06a;
}

.login-btn {
    width: 100%;
    border: none;
    border-radius: 6px;
    background: green;
    color: white;
    font-size: 16px;
    justify-center: center;
    align-items: center;
    text-center:center;
    text-align: center;
}

.login-btn:hover {
    background: #1d4e8d;
}

.login-btn:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.close-btn {
    position: absolute;
    border:none;
    color: #666;
    font-size:24px;
}

.close-btn:hover {
    color: #111;
}